@import "variables";

.pagination {
	display: flex !important;
	float: right;
	@media (max-width: 400px) {
		float: left
	}
	li {
		display: inline;
		list-style: none;
		> a {
			position: relative;
			float: left;
			padding: .5rem .75rem;
			margin-left: -1px;
			// line-height: 1.5;
			text-decoration: none;
			border: 1px solid #dee2e6;
			background-color: transparent !important;
			cursor: pointer;
			&:hover {
				background-color: lighten($blue-color, 20%) !important;
			}
		}
		&.disabled > a {
			cursor: default;
			color: gray !important;
			background-color: transparent !important;
		}
		&.active > a {
			cursor: default;
			background-color: $blue-color !important;
			border-color: $blue-color !important;
			&:hover {
				background-color: lighten($blue-color, 10%) !important;
				border-color: lighten($blue-color, 10%) !important;
			}
		}
	}
}