img { 
    max-width:100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 30%; border-right:1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac { 
    margin: 20px 0 0;
}

.recent_heading {
    float: left; 
    width: 25%;
}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 75%;
}

.headind_srch{ 
    padding:10px 29px 10px 20px; 
    overflow:hidden; 
    border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input { 
    border:1px solid #cdcdcd; 
    border-width:0 0 1px 0; 
    width:60%; 
    padding:2px 0 4px 6px; 
    background:none;
}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon { 
    margin: 0 0 0 -27px;
}

.chat_ib h5 { 
    font-size:15px; 
    color:#464646; 
    margin:0 0 8px 0;
}
.chat_ib h5 span { 
    font-size:13px; 
    float:right;
}
.chat_ib p { 
    font-size:14px; 
    color:#989898; 
    margin:auto
}

.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 4px 0 0 15px;
    width: 88%;
}

.chat_ib:hover h5{
    color: #5149E8;
}

.chat_people{ 
    overflow:hidden; 
    clear:both;
}
.chat_list {
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
}
.chat_list:hover {
    background-color:#ebebeb;
    color: #05728f;
}
.chat_list:hover .chat_people .chat_ib {
    color: #05728f;
}

.inbox_chat { 
    height: 430px; 
    overflow-y: scroll;
}

.active_chat { background:#d5d5ec; color: #05728f;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
    margin:26px 0 26px;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
}
 .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 10px 10px;
    width: auto;
    max-width: 400px;
    overflow-wrap: break-word;
}
.time_date {
    color: #ffffff75;
    display: block;
    font-size: 11.5px;
    margin: 5px 0 0;
}
.time_date_user {
    color: #747474bd;
    display: block;
    font-size: 11.5px;
    margin: 5px 0 0;
}
.received_withd_msg { 
    margin-right: 10px;
}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 70%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px 10px 10px 10px;
    color:#fff;
    padding: 10px 10px 10px 10px;
}

.outgoing_msg { 
    overflow:hidden; 
    margin:26px 0 26px;
}

.sent_msg {
    float: right;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 33px;
}

.msg_upload_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 33px;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 40px;
    text-align: center;
}

.msg_history {
    height: 400px;
    overflow-y: auto;
}

.modal_chat {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content-chat {
    margin: auto;
    display: block;
    max-width: 700px;
}
  
  
  /* Add Animation */
.modal-content-chat, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
  /* The Close Button */
.close_chat {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close_chat:hover,
.close_chat:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .modal-content-chat {
      width: 100%;
    }
}

.message_not_seen {
    float: none !important;
    display: -webkit-inline-box;
    width: 15px;
    text-align: -webkit-center;
}

