.theme-primary {
	button, .btn {
		&.btn-primary-app, &.btn-primary-app2 {
			color: white;
			background-color: $app-main-color;
			border: none;
			box-shadow: 0 0 0 1px $app-main-color;
			min-width: 12rem;

			&:disabled {
				opacity: 30%;
			}

			&.revert-color {
				color: $app-main-color;
				background-color: white;
				box-shadow: 0 0 0 1px $app-main-color;
			}
		}

		&.btn-primary-app2 {
			min-width: 12rem !important;
		}
	}
}
#validation-summary{
	display: none;
	color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    width: 30%;
    padding: 10px;
    padding-left: 5%;
    border: 1px rgb(220, 53, 69) solid;
    box-shadow: 2px 2px 2px rgb(220, 53, 69);
	position: fixed;
    top: 28%;
    right: 11%;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.app-color {
	color: $app-main-color;
}

.app-bg-color {
	background-color: $app-main-color;
}

.text-orange {
	color: $app-main-color2;
}

.text-white {
	color: white;
}

.text-left {
	text-align: left;
}

.bg-orange {
	background-color: $app-main-color2;
}

.outline-orange {
	outline: 1px solid $app-main-color2;
}

.border-orange {
	border-color: $app-main-color2 !important;
}

.general-header {
	> div:first-child {
		background-color: $app-header-color;
		width: 70px;
		height: 45px;
		margin-right: 25px;
	}
	> span {
		font-size: 23px;
		font-weight: bold;
		line-height: 40px;
	}
}

$orange-color: rgb(242, 101, 34);
$orange-background-color: rgb(242, 101, 34);
.top_content {
	margin-bottom: 10px;
	padding-top: 15px;
	text-align: right;
}

.bot_content {
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	margin-left: 30px;
	margin-right: 60px;
}

.color_dark {
	color: #252735;
}

.orange_ {
	background-color: $orange-background-color;
	color: white;
	border-radius: 0px;
}

.orange_:hover {
	color: white;
}
.blue-opacity {
    background-color: $app-table-header-color;
	color: #343a40;
	border-radius: 0px;
}
.orange__ {
	color: $orange-color;
}
.studying-hover:hover {
	color: $orange-color;
}

.btn-save {
	float: right;
	position: relative;
	min-width: 150px;
}

.background-white {
	background-color: white;
	color: #252735;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
}

.border-shadow {
	padding: 20px;
	// margin: 40px;
	border: 1px rgb(209, 211, 212) solid;
	box-shadow: 1px 1px 1px rgb(209, 211, 212);
	margin: 40px;
}

.unset-row {
	margin-left: 15px;
	margin-right: 15px;
}

.set-row {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
	padding-top: 40px;
	padding-bottom: 30px;
}
.bot10 {
	margin-bottom: 10px;
}

.bot20 {
	margin-bottom: 20px;
}

.bot30 {
	margin-bottom: 30px;
}

.bot40 {
	margin-bottom: 40px;
}

.top30 {
	margin-top: 30px;
}

.top40 {
	margin-top: 40px;
}

.top70 {
	margin-top: 70px;
}

.border__bot {
	border-bottom: 2px rgb(209, 211, 212) solid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.border__left {
	border-left: 2px rgb(209, 211, 212) solid;
	margin-right: 40px;
}

.flex-search {
	display: flex;
	justify-content: flex-start;
	div:not(:last-child) {
		margin-right: 50px;
		input {
			margin-left: 20px;
		}
	}
	label {
		line-height: 34px;
	}
}

.btn-light:not(:disabled):not(.disabled).active {
	color: #ffffff;
	background-color: rgb(65, 64, 66);
	border-radius: 0px;
}

.btn-custom {
	background-color: rgb(209, 211, 212);
	border-color: rgb(209, 211, 212);
	border-radius: 0px;
	width: 100%;
	margin-bottom: 20px !important;
}

.btn-custom:hover {
	background-color: rgb(170, 181, 194);
	border-color: rgb(170, 181, 194);
}

.select-custom {
	background-color: #d1d3d4;
	border-color: rgb(209, 211, 212);
	border-radius: 0px;
	margin-left: 20px;
	width: 150px;
}

.selectExam-custom {
	background-color: #d1d3d4;
	border-color: rgb(209, 211, 212);
	border-radius: 0px;
	margin-left: 20px;
	width: 170px;
}

//customize-control-label-modal
.customize-control-label-modal {
	line-height: 30px;
	padding-top: 4px;
	cursor: pointer;
	position: unset !important;
}

.customize-control-label-modal::before {
	background-color: rgb(209, 211, 212);
	border-color: rgb(209, 211, 212);
	border-radius: 0rem !important;
	width: 30px;
	height: 30px;
	left: 0px;
}

.customize-control-label-modal::after {
	width: 30px;
	height: 30px;
	left: 0px;
}

.customize-control-label-modal {
	line-height: 30px;
	padding-top: 4px;
}

.customize-checkbox .custom-control-input:checked ~ .customize-control-label-modal::before {
	color: #212529;
	background-color: rgb(209, 211, 212);
}

.customize-checkbox .custom-control-input:checked ~ .customize-control-label-modal::after {
	background-image: url("/images/baseline_check_black_48dp.png");
	width: 12%;
	height: 80%;
	position: absolute;
	top: -4px;
	left: -10px;
}

//customize-control-label
.customize-control-label {
	line-height: 30px;
	padding-top: 4px;
	cursor: pointer;
	position: unset !important;
}

.customize-control-label::before {
	background-color: rgb(209, 211, 212);
	border-color: rgb(209, 211, 212);
	border-radius: 0rem !important;
	width: 30px;
	height: 30px;
	left: 0;
}

.customize-checkbox {
	min-height: 3.5rem;
	padding-left: 2.5rem;
	top: 1.25rem;
}

.customize-checkbox .custom-control-input:checked ~ .customize-control-label::before {
	color: #212529;
	background-color: rgb(209, 211, 212);
}

.customize-checkbox .custom-control-input:checked ~ .customize-control-label::after {
	background-image: url("/images/baseline_check_black_48dp.png");
	width: 20%;
	height: 65%;
	position: absolute;
	top: 1px;
	left: -4px;
}

.customize-control-label::after {
	width: 30px;
	height: 30px;
	left: 0px;
}

//customize-checkbox-new

.customize-control-label-new::before {
	background-color: rgb(209, 211, 212);
	border-color: rgb(209, 211, 212);
	border-radius: 0rem !important;
	left: 50px;

}

.customize-checkbox-new .custom-control-input:checked ~ .customize-control-label-new::before {
	color: #212529;
	background-color: rgb(209, 211, 212);
}

.customize-checkbox-new .custom-control-input:checked ~ .customize-control-label-new::after {
	background-image: url("/images/baseline_check_black_48dp.png");
	width: 42%;
	height: 170%;
	position: absolute;
	top: -10px;
	left: 37px;
}

.customize-checkbox-new .custom-control-input:disabled:checked ~ .customize-control-label-new::before {
	background-color: rgb(209, 211, 212);
}

.customize-control-label-new::after {
	left: 50px;
}

.table-overflow {
	overflow-x: hidden;
}

//end--------------customize-checkbox-new

.customize-table {
	border: 1px solid  #bcbec0;;
	td {
		padding: 0.1rem;
		// border: 1px solid #c3c4c5;
		vertical-align: middle;

	}
	tbody tr.noneBold {
		background-color: transparent;
		width: 5%;
		color: #343a40;
		height: 40px;
	}
	tbody tr.isBold {
		background-color: #e6e7e8;
		color: #343a40;
		height: 40px;
	}
}

.title {
	border-bottom: 2px solid rgb(209, 211, 212);
	margin-bottom: 20px;
	padding-bottom: 30px;
	margin-right: -30px;
	margin-left: -30px;
}

#form-search {
	padding-bottom: 15px;
}

.customize-flex {
	display: flex;
	justify-content: space-around;
	div {
		display: flex;
		line-height: 40px;
	}
}

.textRight {
	float: right;
}

// handle chart----------------------------------
.dark-background {
	background-color: rgb(209, 211, 212);
	padding: 4px;
}

.flex-prop {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
}

.bold {
	font-weight: bold;
}

.margin40 {
	margin: 40px;
	#comment {
		width: 100%;
		// border-radius: 22px;
		height: 45px;
		margin-bottom: 40px;
		text-indent: 20px;
	}
}

.nonbackground-comment {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px rgb(209, 211, 212) solid;
	.avatar {
		img {
			width: 70px;
			height: 70px;
			margin-right: 10px;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
	.user-name {
		font-size: 17px;
		font-weight: bold;
		margin: 10px 10px 10px 0px;
	}
}

.background-comment {
	display: flex;
	margin-bottom: 10px;
	// background-color: rgb(209, 211, 212);
	border-bottom: 1px rgb(209, 211, 212) solid;
	.avatar {
		img {
			width: 70px;
			height: 70px;
			margin-right: 10px;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
	.user-name {
		font-size: 17px;
		font-weight: bold;
		margin: 10px 10px 10px 0px;
	}
}

.display-comment {
	display: block !important;
}

#loadMore {
	cursor: pointer;
}

.comment-content {
	p:nth-child(1) {
		margin-bottom: 0px;
	}
	p:nth-child(2) {
		word-break: break-all;
		margin-right: 10px;
	}
}

//customize paginate--------------------
.page-link {
	color: #343a40;
	// background-color: #bcbec0;
	// border-color: #bcbec0;
	// border-left-color: white;
	// border-right-color: white;
}

.page-link:hover {
	color: #343a40;
}

.page-item.active .page-link {
	background-color: #bcbec0;
	border-color: #bcbec0;
	border-left-color: white;
	border-right-color: white;
	color: #343a40;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

// customize all---------------
.border-studying-writing{
	border:1px solid rgb(209, 211, 212);
	padding-top: 10px;
	padding-left: 10px;
	height: 270px;
    overflow: auto;
}
.overlay-info{
	z-index: 1000;
}
.writing-info{
	background-color: rgb(65, 63, 65);
    color: #fff;
    padding: 20px;
    margin: 0px;
    text-align: center;
	margin-bottom: 20px;
	>p{
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.customize-btn-material{
	min-width: 50px !important;
    padding-left: 2px !important;
	padding-right: 2px !important;
	background-color: transparent !important;
}
.flex-speaking {
	display: flex;
	div {
		display: flex;
		line-height: 40px;
	}
}

.set-flex {
	margin-bottom: 1px;
}

.align-file {
	margin-top: 10px;
}

.err-icon {
	color: #dc3545 !important;
	vertical-align: middle;
}

.width-input {
	width: 84%;
	height: 31px;
}

.title-color {
	background-color: rgb(65, 64, 66);
	width: 7%;
	margin-right: 2%;
}
.right125 {
	margin-right: -125px;
} 
	
.right30 {
	margin-right: 30px;
}

.right40 {
	margin-right: 40px !important;
}

.right50 {
	margin-right: 50px;
}
.left15 {
	margin-left: 15px;
}
.left25 {
	margin-left: 25px;
}
.left30 {
	margin-left: 30px;
}

.right25 {
	margin-right: 25px;
}
.bot20 {
	margin-bottom: 20px;
}

.btn-search {
	min-width: 150px;
}

.th-width {
	width: 18%;
}

.btn-create {
	background-color: #848484;
	color: white;
	border-radius: 0px;
}

.btn-create:hover {
	color: white;
}

.answerBold {
	border: 1px solid #A9A9A9;
	padding: 2px 15px 1px 15px;
	margin-right: 0px;
	background-color: #848484;
	float: left;
	width: 50px;
	text-align: center;
	line-height: 26px;
	color: #343a40;
}

.answerNonBold {
	border: 1px solid #A9A9A9;
	padding: 2px 15px 1px 15px;
	margin-right: 0px;
	background-color: #bcbec0;
	float: left;
	width: 50px;
	text-align: center;
	line-height: 26px;
	color: #343a40;
}

.select-customize {
	width: 20%;
	#exam-code {
		border-radius: 0px;
	}
}

.block {
	display: block;
}

.flex-popup {
	display: flex;
	justify-content: space-between;
}

.size14 {
	font-size: 12px;
}

.load-modal-body {
	min-height: 264px;
}

#piechart {
	svg {
		width: 250px;
		margin-left: 0px;
	}
}

.border__modal {
	border-bottom: 1px rgb(209, 211, 212) solid;
	margin-left: 10px;
	> div:nth-child(1) {
		max-width: 3% !important;
	}
	> div:nth-child(5) {
		min-width: 19% !important;
	}
}

.custom-modal {
	padding: 0px 50px;
}

.left40 {
	margin-left: 40px !important;
}

.btn-close {
	position: absolute;
	top: 10px;
	right: 20px;
}

.arrow_modal {
	color: rgb(209, 211, 212);
}

.modal-custom {
	border-top: none;
	span {
		cursor: pointer;
	}
}

.custom-modal-listening {
	max-width: 1000px;
}

.flex-modal {
	display: flex;
	justify-content: center;
}

#readingdetail {
	> p {
		color: $orange-color;
		margin-bottom: 5px;
	}
	> p:hover {
		color: #00A7FF;
	}
}

#writingdetail {
	> p {
		color: $orange-color;
		margin-bottom: 5px;
	}
	> p:hover {
		color: #00A7FF;
	}
}

.btn-save {
	float: right;
}

.width50 {
	width: 50%;
}

//------------------------------register Studying
.border-studying {
	border-bottom: 1px solid;
	margin: 10px -60px 10px -60px;
}

.sub-border {
	border-bottom: 1px solid rgb(209, 211, 212);
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.flex-studying {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.studying-writing {
	max-width: 780px;
	border: 1px rgb(209, 211, 212) solid;
	box-shadow: 1px 1px 1px rgb(209, 211, 212);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 60px 20px 60px;
}

.input-style {
	border: none;
	text-align: center;
	pointer-events: none;
	margin-top: -5px;
}

.input-number-style {
	pointer-events: none;
}

.btn-pay {
	float: right;
	position: relative;
	min-width: 280px;
	height: 35px;
	margin-right: 104px;
}

// custom

$input-number-size: 70px;
$medium-gray: #cacaca;
$global-radius: 0px;
$light-gray: #e6e6e6;
$body-font-color: #0a0a0a;
.plus-minus-input {
	display: flex;
	justify-content: center;
	margin-top: -5px;

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		appearance: none;
	}

	.input-group-button {
		line-height: calc(#{$input-number-size} / 2 - 5px);
	}

	.input-number {
		width: $input-number-size;
		padding: 0 12px;
		vertical-align: top;
		text-align: center;
		outline: none;
		display: block;
		margin: 0;
	}

	.input-number,
	.input-number-decrement,
	.input-number-increment {
		border: 1px solid $medium-gray;
		height: $input-number-size/2;
		user-select: none;
		border-radius: $global-radius;
	}

	.input-number-decrement,
	.input-number-increment {
		display: inline-block;
		width: $input-number-size/2;
		background: $light-gray;
		color: $body-font-color;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
		font-size: 2rem;
		font-weight: 400;
	}

	//   .input-number-decrement {
	//     margin-right: 0.3rem;
	//   }

	//   .input-number-increment {
	//     margin-left: 0.3rem;
	//   }
}

//end Register Studying

.btn-orange {
	background-color: $orange;
	color: white;
}

.white {
	background-color: white;
}

.orange {
	background-color: $orange;
	color: white;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.w-32 {
	width: 32px;
	height: 32px;
	text-align: center;
}

.height-500 {
	height: 500px;
}

.border {
	border: 1.2px solid #ced4da !important;
}

.play {
	display: block;
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: ($size*$ratio) solid $foreground;
	margin: $size auto $size auto;
	position: relative;
	z-index: auto;
	transition: all $transition-time;
	-webkit-transition: all $transition-time;
	-moz-transition: all $transition-time;
	left: ($size*0.2);
	cursor: default;

	&:before {
		content: '';
		position: absolute;
		top: ($size*-1.5);
		left: ($size*-2.3);
		bottom: ($size*-1.5);
		right: ($size*-0.7);
		border-radius: 50%;
		border: ($size*0.2) solid $foreground;
		z-index: auto;
		transition: all $transition-time;
		-webkit-transition: all $transition-time;
		-moz-transition: all $transition-time;
	}
	&:after {
		content: '';
		opacity: 0;
		transition: opacity ($transition-time * 2);
		-webkit-transition: opacity ($transition-time * 2);
		-moz-transition: opacity ($transition-time * 2);
	}

	&:hover, &:focus {
		&:before {
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
		}
	}

	&.active {
		border-color: transparent;
		&:after {
			content: '';
			opacity: 1;
			width: ($size*1.4);
			height: ($size*1.6);
			background: $foreground;
			position: absolute;
			right: ($size*0.1);
			top: ($size*-0.8);
			border-left: ($size*0.4) solid $foreground;
			box-shadow: inset ($size*0.6) 0 0 0 $background;
		}
	}
}

.step-small-center {
	margin: 15px 0;
	height: 15px;
}

.step-main {
	width: 70px;
	height: 45px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.open-popup {
	overflow: hidden;
}

.btn-profile {
	background-color: #404041;
	color: #fff;
}

.btn-profile.active {
	background-color: $orange;
}

.img-profile {
	border-radius: 50%;
	border: 4px solid black;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
	background-color: $orange;
	color: white;
}

.a.active {
	color: $orange;
}

.input-none-border {
	border: none;
	font-weight: bold;
}

.form-control {
	border-radius: 0;
}

.btn-radius-none {
	border-radius: 0;
}

.btn-150 {
	min-width: 150px;
}

.td-grey {
	background-color: #bcbec0;
	color: dark;
}

.td-grey.grey-gray {
	background-color: #848484;
}

.general-header {
	> div:first-child {
		background-color: $app-main-color;
		width: 70px;
		height: 45px;
		margin-right: 25px;
	}
	> span {
		font-size: 23px;
		font-weight: bold;
		line-height: 40px;
		color: $app-main-color;
	}
}

.custom-view {
	vertical-align: middle !important;
}

.shadow {
	box-shadow: 2px 3px 1px #c8c8c8 !important;
}

// common loading style
@-webkit-keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0)
	}
	100% {
		-moz-transform: rotate(360deg)
	}
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.common-loading-body {
	position: fixed !important;
}

[class^=common-loading] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	background-color: #f6f6f6;
	opacity: 0.6;
	overflow: hidden;
	&.icon {
		opacity: 1;
		background: none;
		div:first-child {
			left: 0;
			top: 0;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			margin: 5px;
		}
	}
	div:first-child {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
		border-radius: 50%;
		box-shadow: 1px 3px 3px 0 $app-header-color;
		transform: translate3d(0, 0, 0);
		animation: spin 2s linear infinite;
		&:after, &:before {
			content: '';
			position: absolute;
			border-radius: 50%
		}
		&:before {
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			box-shadow: 1px 3px 3px 0 $app-main-color;
			-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite
		}
		&:after {
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			box-shadow: 1px 3px 3px 0 lighten($app-main-color, 20%);
			animation: spin 1.5s linear infinite
		}
	}
}

// bootbox style
.bootbox {
	.bootbox-close-button {
		position: absolute;
		right: 15px;
		top: 10px;
		margin: 0 !important;
		padding: 0 !important;
		min-width: 0 !important;
	}
	.modal-content {
		background-color: white;
		color: $app-text-color;
		border-radius: 0;
		border: none;
		box-shadow: 2px 3px 3px rgba(0, 0, 0, .25);
		> div:first-child {
			&.modal-body {
				.bootbox-body {
					padding-right: 15px;
				}
			}
			padding-right: 15px;
		}
	}
	.modal-header {
		padding-bottom: 10px;
		h4 {
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
		}
	}
	.btn {
		min-width: 100px !important;
		padding: 0.25rem 0.5rem !important;
		font-size: 0.875rem;
		line-height: 1.5;
	}
	.btn-default {
		background-color: lighten($app-header-color, 30%);
		color: white;
		order: 1;
		margin-left: 15px;
	}
	.modal-footer {
		border-top: none;
	}
}

.tag-title-show {
    color: $app-main-color;
}

.tag-title-disable {
    color: $gray-disable;
}

.tag-page-custom {
    padding-top: 8px; 
    color: $gray-disable; 
    font-weight: bold; 
    font-size: 21px;
}

.input-app {
    background-clip: padding-box;
    padding: 0.275rem 0 0.2rem 0.75rem;
}

.button-app {
    padding: .375rem .75rem;
    width: 180px;
    background: $app-main-color;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button_radio {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px 0 5px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-image: none;
}

.btn_remove {
	top: 10px;
	right: 10px;
	color: #b92c28;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
}

.btn_edit {
	top: 10px;
	right: 10px;
	color: $app-main-color;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
}

.btn_save {
	top: 10px;
	right: 10px;
	color: #0bad41;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
}

.nb_ms_not_seen {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #d20c0c;
    font-size: 12px;
}
