.btn_remove_image{
    top: -240px;
    right: 0;
    left: 227px;
    color: #b92c28;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.form-box-shadow {
    box-shadow: 2px 2px #708ad4;
    border: 1px solid #708ad4;
}