#home {
	background-color: white !important;

	.main-content.container-fluid {
		position: relative;

		> .row {
			&:not(.header-slider-ctn) {
				max-width: map_get($app-grid-breakpoints, 'xxl') - 1;
				@include media-breakpoint-up('xxl', $app-grid-breakpoints) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.header-slider-ctn {
		min-height: 100vh !important;
		margin-top: -3rem;


		//
		/* ----------- iPhone 4 and 4S ----------- */

		/* Portrait and Landscape */
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

		}

		/* Portrait */
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
		}

		/* Landscape */
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

		}

		/* ----------- iPhone 5 and 5S ----------- */

		/* Portrait and Landscape */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

		}

		/* Portrait */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
		}

		/* Landscape */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

		}

		/* ----------- iPhone 6 ----------- */

		/* Portrait and Landscape */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

		}

		/* Portrait */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

		}

		/* Landscape */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

		}

		/* ----------- iPhone 6+ ----------- */

		/* Portrait and Landscape */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

		}

		/* Portrait */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

		}

		/* Landscape */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

		}
		//

		.header-slider {
			max-width: 100%;

			@media (max-width: 425px) {
				padding: 10px;
				margin-top: 10px;
			}

			.slick-slider {
				position: inherit;
				.slick-dots {
					left: 0;
					right: 0;
					li {
						button::before {
							content: '⚪';
							font-size: 7px;
							opacity: 1;
						}
						&:hover button::before {
							content: '•';
						}
						&.slick-active button::before {
							content: '•';
							font-size: 12px;
						}
					}
				}

				@include media-breakpoint-down('sm') {
					position: relative;
				}
			}
		}

		.header-intro {
			@media (min-width: 1400px) {
				margin-bottom: 6rem;
			}
			> div {
				@include media-breakpoint-up('xl') {
					padding-left: 2rem !important;
				}
			}
		}

		h1, h2 {
			font-size: 2 * $font-size-base;

			@media (max-width: 425px) {
				font-size: 1.5 * $font-size-base;
			}
			@include media-breakpoint-up('xl') {
				font-size: 2.2 * $font-size-base;
			}
		}

		.interactive {
			@include media-breakpoint-up('md') {
				> div:last-child {
					margin-bottom: 10px !important;
				}
			}
			@include media-breakpoint-up('lg') {
				> div:last-child {
					margin-bottom: 75px !important;
				}
			}
			@include media-breakpoint-up('xl') {
				> div:first-child {
					margin-top: -15px !important;
				}
			}
			@media screen and (min-width: 1500px) {
				> div:first-child {
					margin-top: -70px !important;
				}
				> div:last-child {
					margin-bottom: 120px !important;
				}
			}
		}
	}

	.test-now-modal {
		padding-top: 20vh;
		.message {
			font-size: 18px;
		}
		.table-responsive {
			margin-top: 30px;
		}
		table th {
			padding: 5px 15px;
		}
		table td {
			padding: 4px 15px;
		}
		tr {
			height: auto !important;
		}
	}

	.btn-register-now, .btn-watch-video, .btn-practise-now {
		border-radius: 10rem;
		background-color: transparent;
		width: 180px;
		min-width: 0 !important;
		&:hover {
			box-shadow: 0 0 0 1px $app-main-color;
		}
	}
	.btn-register-now {
		box-shadow: 0 0 0 1px $app-main-color;
		color: $app-main-color;
	}
	.btn-watch-video {
		box-shadow: 0 0 0 1px #404041;
		color: #404041;
	}
	.btn-practise-now {
		color: white;
		box-shadow: 0 0 0 1px white;
	}

	h1, h2 {
		font-size: 1.5 * $font-size-base;
	}

	.testing-description-ctn {
		/*margin-top: 3rem;
		margin-bottom: 3rem;
		@include media-breakpoint-up('lg') {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}*/
		@include media-breakpoint-up('sm') {
			margin-top: -5rem;
			padding-top: 6rem;
		}
	}

	.testing-description {
		@include media-breakpoint-up('lg') {
			position: relative;
		}

		#pills-tabContent {
			@include media-breakpoint-up('sm') {
				padding-bottom: 15px;
			}
			h4 {
				color: $app-main-color;
			}
			.tab-pane {
				.section-demo {

				}
				img {
					@include media-breakpoint-between('sm', 'md') {
						max-height: 300px;
					}
					@include media-breakpoint-up('lg') {
						width: 100%;
					}
				}
				.desc-ctn {
					@include media-breakpoint-up('lg') {
						padding-bottom: 3rem;
					}
					@include media-breakpoint-up('xl') {
						padding-top: 2rem;
					}
					> div {
						@include media-breakpoint-up('lg') {
							width: 25rem;
						}
						@include media-breakpoint-up('xl') {
							width: 30rem;
						}
					}
				}
			}
			@media screen and (min-width: 1200px) and (max-width: 1300px) {
				div.text-center {
					margin-bottom: 3rem !important;
				}
			}
		}
		.pills-tab-ctn {
			padding-left: 10px;

			@include media-breakpoint-up('lg') {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 43%;
			}

			@include media-breakpoint-up('xl') {
				bottom: 2rem;
			}

			@include media-breakpoint-up('xxl', $app-grid-breakpoints) {
				bottom: 4rem;
			}

			#pills-tab {
				max-width: 350px;
				.nav-link {
					&:not(:hover):not(.active) {
						> div:last-child {
							display: none;
						}
					}
					&:hover, &.active {
						> div:first-child {
							display: none;
						}
					}
				}
			}
		}

	}

	.practise-now-ctn {
		background-color: #f0f2f3;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			height: 6rem;
			width: 100%;
			background-color: $app-primary-background-color;
		}

		@include media-breakpoint-up('sm') {
			background-image: url("/images/home/image-study.jpg");
			background-size: auto 100%;
			background-position: right;
			background-repeat: no-repeat;
			background-position-y: 6rem;
			padding-top: 6rem;
		}

		> div {
			background-color: $app-footer-color;
		}
		.content-inr {
			color: white;
			h4 {
				color: $app-main-color;
				position: relative;
				&::after {
					content: '';
					width: 150px;
					position: absolute;
					bottom: -.5rem;
					right: 0;
					height: 3px;
					background-color: $app-main-color;
				}
			}
			ul {
				list-style-type: none;
				padding: 0;
				li {
					margin-bottom: 1rem;
				}
			}
			.btn {
				color: white;
				border-color: white;
				border-width: 2px;
				&:hover {
					border-color: $app-main-color;
				}
			}
		}

		/*padding-top: 3rem;
		padding-bottom: 3rem;
		@include media-breakpoint-up('md') {
			background-image: url("/images/home/bg2.jpg");
			background-size: auto 100%;
			background-position: right;
			background-repeat: no-repeat;
		}
		@include media-breakpoint-up('lg') {
			padding-left: 5rem;
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
		@include media-breakpoint-up('xl') {
			padding-left: 10rem;
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
		.content-inr {
			@include media-breakpoint-up('md') {
				width: 20rem;
			}
			@include media-breakpoint-up('xl') {
				width: 30rem;
			}
		}
		h4 {
			color: $app-main-color;
		}
		ul {
			padding-left: 20px;
		}*/
	}

	.exam-combo-ctn {
		padding-top: 6rem;
		padding-bottom: 6rem;
		h4, .price {
			color: $app-main-color;
		}

		.combo-list {
			.card {
				@include media-breakpoint-up('sm') {
					min-width: 40%;
				}
				@include media-breakpoint-up('lg') {
					min-width: auto;
				}

				&:hover {
					.card-body {
						background-color: $app-main-color;
						color: white;
						.btn-primary-app {
							background-color: white;
							color: $app-main-color;
						}

						.price {
							color: white;
						}

						.divider {
							background-color: white;
						}
					}
				}

				.card-title {
					font-size: 2rem;
				}
				.card-body {
					border: 1px solid $app-secondary-background-color;
					box-shadow: 2px 3px 1px $app-secondary-background-color;
				}
				.card-text {
					margin-bottom: .5rem;
				}
				.price {
					font-weight: 600;
					font-size: 1.5rem;
				}
				.divider {
					height: 3px;
					background-color: $app-footer-color;
				}
				.buy-combo-ctn {
					.btn {
						border-radius: 5px;
						min-width: auto;
					}
				}
			}
		}
	}

	.partner-ctn {
		background-color: $app-secondary-background-color;
		h4 {
			position: relative;
			&:after {
				content: " ";
				width: 50px;
				height: 2px;
				background-color: $app-text-color;
				position: absolute;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.col {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 250px;
			min-height: 100px;
			&:not(:hover) {
				> img:last-child {
					display: none;
				}
			}
			&:hover {
				> img:first-child {
					display: none;
				}
			}
		}
		img {
			width: 200px;
		}
	}

	button, .btn {
		&.btn-primary-app, &.btn-primary-app2 {
			&:hover {
				background-color: white !important;
				color: $app-main-color !important;
			}

			&.revert-color {
				&:hover, &.active {
					background-color: $app-main-color !important;
					color: white !important;
				}
			}
		}
	}
	.white-popup {
		position: relative;
		background: #FFF;
		padding: 40px;
		width: 700px;
		margin: 20px auto;
		text-align: center;
	}
}