body {
	background-color: $app-secondary-background-color;
	min-height: 100vh;
	position: relative;

    [v-cloak] > * {
		display: none !important;
	}
	[v-cloak]::before {
		content: "...";
	}

	.dplhd {
		height: 5rem;
		@include media-breakpoint-up('md') {
			height: 3rem;
		}
	}
}

.logo-icon {
	width: 150px;
}

.header {
	$border-color: #dddedf;

	border-bottom: 1px solid $border-color;

	/*.select-lang-ctn {
		&.arrow_box {
			position: relative;
			background: #88b7d5;
			border: 1px solid #c2e1f5;

			&:after, &:before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #88b7d5;
				border-width: 30px;
				margin-left: -30px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #c2e1f5;
				border-width: 31px;
				margin-left: -31px;
			}
		}
	}*/

	svg {
		height: 60px;

		.cls-2 {
			fill: $app-main-color !important;
		}
	}

	.header-dropdown-toggle {
		cursor: default;
		user-select: none;

		& + .dropdown-menu {
			max-height: 80vh;
			overflow-y: auto;
			min-width: 160px;
			padding: 0;

			/* width */
			&::-webkit-scrollbar {
				width: 6px;
				height: 6px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: lighten($app-header-color, 15%);
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: $app-header-color;
			}

			.dropdown-item {
				padding: 0.6rem 1.5rem;

				&:hover, &:focus {
					background-color: white;
				}
				&:active {
					background-color: $app-main-color;
					color: white;
				}
			}

			.collapse .dropdown-item {
				padding-left: 2.4rem;
			}

			.dropdown-divider {
				margin: 0;
			}
		}
	}
  
	.dropdown-menu {
		transform: translateX(-50%);
		min-width: auto;
		border-radius: 3px;
		top: 120%;

		@media (min-width: 575px) {
			left: 50%;
		}

		&.lang {
			left: auto;
			right: 0;
			transform: none;
		}
	}

	/*.login-ctn {
		a {
			&:first-child {
			}
		}
	}*/

	a {
		color: $app-text-color;
		&:hover {
			color: $app-main-color;
		}
	}

	.nav {
		.nav-item {
			&:hover a, a.active {
				color: $app-main-color;
			}
		}
	}
}



body > .container {
    background-color: $app-primary-background-color;
    max-width: 1220px;
}

body > .container-custom {
    background-color: $app-primary-background-color;
    max-width: 100% !important;
}

footer {
	color: white;
	font-size: 0.8rem;
	a {
		color: white;
	}
	.navbar-brand > svg {
		height: 100%;
	}
	.content {
		background-color: $app-footer-color;
		/*label {
			position: relative;
			&:after {
				content: '';
				width: 150px;
				border-top: 1px solid white;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}*/
		ul {
			list-style-type: none;
		}
		> div {
			/*@include media-breakpoint-up('md') {
				padding-left: 16rem;
				padding-right: 16rem;
				.about-us {
					margin-right: 6rem;
				}
				.contact {
					width: 19rem;
					margin-right: 2rem;
				}
			}*/
		}
	}
	.copyright {
		background-color: $app-footer-copyright-color;
	}
}

#login-page #manage-employees{
	.form-box {
		> div {
			max-width: 27rem;
			@include media-breakpoint-up('sm') {
				box-shadow: $box-shadow;
			}
		}
	}

	.form-box .form-control,
	.form-control.auth {
		background-color: $app-form-input-color;
	}

	.form-box {
		.form-inline > label {
			align-items: left !important;
			justify-content: left !important;
		}
		label.custom-radio {
			position: relative;
			cursor: pointer;
			padding-right: 25px;
			user-select: none;

			input[type="radio"] {
				position: absolute;
				opacity: 0;

				& + span {
					position: absolute;
					right: 21px;
					top: 0;
					&:before {
						position: absolute;
						content: '';
						background: $app-form-input-color;
						width: 20px;
						height: 20px;
						top: 0;
					}
				}

				// Box hover
				&:hover + span:before {
					background: darken($app-form-input-color, 10%);
				}

				// Box focus
				&:focus, &:active {
					& + span:before {
						box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
					}
				}

				// Box disabled
				&:disabled + span {
					color: #b8b8b8;
					cursor: auto;
					&:before {
						box-shadow: none;
						background: #ccc;
					}
				}

				// Box checked
				&:checked + span {
					&:before {
						background: #f35429;
					}
					&:after {
						content: '';
						position: absolute;
						right: -7px;
						top: 9px;
						background: white;
						width: 2px;
						height: 2px;
						box-shadow: 2px 0 0 white,
						4px 0 0 white,
						4px -2px 0 white,
						4px -4px 0 white,
						4px -6px 0 white,
						4px -8px 0 white;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}

#register-page {
	.form-box {
		> div {
			max-width: 32rem;
		}
	}
}

#register-success {
	.form-box {
		> div {
			max-width: 36rem;
			padding-bottom: 3.5rem !important;
		}
	}
}

.dropdown-menu > a:hover {
    background-color: #3ACCE1;
    background-image: none;
    color: #5149E8 !important;
}

.dropdown-item > a:hover {
    color: black;
}

.dropdown-menu > a {
    color: black !important;
}