.formlogin {
    max-width: 350px;
    left: 50%;
    margin: 0 auto;
    border-bottom: 2px solid #d2d4d3; 
    margin-bottom: 15px;
    border: solid 1px;
    padding: 25px;
    background-color: white;

}
.logo_login {
    width: 50%;
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
}