.title1 {
	width:100px;
	text-align: left;
	word-wrap: break-word;
}

.more {
	text-align: left;
	width: 250px;
}

.button_see_image {
	width:80px;
}

.a_see_image {
	text-decoration: none;
	color: white;
}

.li_image {
	margin-bottom:2%;
	width: 100px;
	margin-left: 1%;
	height: 100px;
}

.select {
	width: 200px;
	height: 33px
}

.hidden {
	display: none;
}

.check_approve {
	transform: scale(2)
}

.poster_name {
	width:250px;
}

.vehicle_model {
	width:200px;
}

.see_more_less {
	cursor: pointer;
}