/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

public/css
!public/css/fonts
!public/css/glyphicons

/public/js/**
!/public/js/lib/
/public/js/lib/**
!/public/js/lib/bootbox.min.js
!/public/js/lib/clndr.min.js
!/public/js/lib/jquery.countdown.min.js

public/mix-manifest.json
vue-i18n-locales.generated.js